<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.xtw.mapper.TestBinDetailMapper">

    <resultMap id="subLotBinModel" type="org.jeecg.modules.xtw.model.SubLotBinModel" >
        <result column="sub_lot" property="subLot" jdbcType="VARCHAR"/>
        <result column="wafer_lot" property="waferLot" jdbcType="VARCHAR"/>
        <result column="ic_name" property="icName" jdbcType="VARCHAR"/>
        <result column="site" property="site" jdbcType="VARCHAR"/>
        <result column="bin1" property="bin1" jdbcType="VARCHAR"/>
        <result column="bin2" property="bin2" jdbcType="VARCHAR"/>
        <result column="bin3" property="bin3" jdbcType="VARCHAR"/>
        <result column="bin4" property="bin4" jdbcType="VARCHAR"/>
        <result column="bin5" property="bin5" jdbcType="VARCHAR"/>
        <result column="bin6" property="bin6" jdbcType="VARCHAR"/>
        <result column="bin7" property="bin7" jdbcType="VARCHAR"/>
        <result column="bin8" property="bin8" jdbcType="VARCHAR"/>
        <result column="bin9" property="bin9" jdbcType="VARCHAR"/>
        <result column="bin10" property="bin10" jdbcType="VARCHAR"/>
        <result column="bin11" property="bin11" jdbcType="VARCHAR"/>
        <result column="bin12" property="bin12" jdbcType="VARCHAR"/>
        <result column="bin13" property="bin13" jdbcType="VARCHAR"/>
        <result column="bin14" property="bin14" jdbcType="VARCHAR"/>
        <result column="bin15" property="bin15" jdbcType="VARCHAR"/>
        <result column="bin16" property="bin16" jdbcType="VARCHAR"/>
        <result column="bin17" property="bin17" jdbcType="VARCHAR"/>
        <result column="bin18" property="bin18" jdbcType="VARCHAR"/>
        <result column="bin19" property="bin19" jdbcType="VARCHAR"/>
        <result column="bin20" property="bin20" jdbcType="VARCHAR"/>
        <result column="bin21" property="bin21" jdbcType="VARCHAR"/>
        <result column="bin22" property="bin22" jdbcType="VARCHAR"/>
        <result column="bin23" property="bin23" jdbcType="VARCHAR"/>
        <result column="bin24" property="bin24" jdbcType="VARCHAR"/>
        <result column="bin25" property="bin25" jdbcType="VARCHAR"/>
        <result column="bin26" property="bin26" jdbcType="VARCHAR"/>
        <result column="bin27" property="bin27" jdbcType="VARCHAR"/>
        <result column="bin28" property="bin28" jdbcType="VARCHAR"/>
        <result column="bin29" property="bin29" jdbcType="VARCHAR"/>
        <result column="bin30" property="bin30" jdbcType="VARCHAR"/>
        <result column="bin31" property="bin31" jdbcType="VARCHAR"/>
        <result column="bin32" property="bin32" jdbcType="VARCHAR"/>
        <result column="bin33" property="bin33" jdbcType="VARCHAR"/>
        <result column="bin34" property="bin34" jdbcType="VARCHAR"/>
        <result column="bin35" property="bin35" jdbcType="VARCHAR"/>
        <result column="bin36" property="bin36" jdbcType="VARCHAR"/>
        <result column="bin37" property="bin37" jdbcType="VARCHAR"/>
        <result column="bin38" property="bin38" jdbcType="VARCHAR"/>
        <result column="bin39" property="bin39" jdbcType="VARCHAR"/>
        <result column="bin40" property="bin40" jdbcType="VARCHAR"/>
        <result column="bin41" property="bin41" jdbcType="VARCHAR"/>
        <result column="bin42" property="bin42" jdbcType="VARCHAR"/>
        <result column="bin43" property="bin43" jdbcType="VARCHAR"/>
        <result column="bin44" property="bin44" jdbcType="VARCHAR"/>
        <result column="bin45" property="bin45" jdbcType="VARCHAR"/>
        <result column="bin46" property="bin46" jdbcType="VARCHAR"/>
        <result column="bin47" property="bin47" jdbcType="VARCHAR"/>
        <result column="bin48" property="bin48" jdbcType="VARCHAR"/>
        <result column="bin49" property="bin49" jdbcType="VARCHAR"/>
        <result column="bin50" property="bin50" jdbcType="VARCHAR"/>
        <result column="bin51" property="bin51" jdbcType="VARCHAR"/>
        <result column="bin52" property="bin52" jdbcType="VARCHAR"/>
        <result column="bin53" property="bin53" jdbcType="VARCHAR"/>
        <result column="bin54" property="bin54" jdbcType="VARCHAR"/>
        <result column="bin55" property="bin55" jdbcType="VARCHAR"/>
        <result column="bin56" property="bin56" jdbcType="VARCHAR"/>
        <result column="bin57" property="bin57" jdbcType="VARCHAR"/>
        <result column="bin58" property="bin58" jdbcType="VARCHAR"/>
        <result column="bin59" property="bin59" jdbcType="VARCHAR"/>
        <result column="bin60" property="bin60" jdbcType="VARCHAR"/>
        <result column="bin61" property="bin61" jdbcType="VARCHAR"/>
        <result column="bin62" property="bin62" jdbcType="VARCHAR"/>
        <result column="bin63" property="bin63" jdbcType="VARCHAR"/>
        <result column="bin64" property="bin64" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="querySYLList" parameterType="String" resultMap="subLotBinModel">
        select
        xtr.wafer_lot,
        xtr.ic_name,
        xtr.sub_lot,
        xtb.site,
        bin1,
        bin2,
        bin3,
        bin4,
        bin5,
        bin6,
        bin7,
        bin8,
        bin9,
        bin10,
        bin11,
        bin12,
        bin13,
        bin14,
        bin15,
        bin16,
        bin17,
        bin18,
        bin19,
        bin20,
        bin21,
        bin22,
        bin23,
        bin24,
        bin25,
        bin26,
        bin27,
        bin28,
        bin29,
        bin30,
        bin31,
        bin32,
        bin33,
        bin34,
        bin35,
        bin36,
        bin37,
        bin38,
        bin39,
        bin40,
        bin41,
        bin42,
        bin43,
        bin44,
        bin45,
        bin46,
        bin47,
        bin48,
        bin49,
        bin50,
        bin51,
        bin52,
        bin53,
        bin54,
        bin55,
        bin56,
        bin57,
        bin58,
        bin59,
        bin60,
        bin61,
        bin62,
        bin63,
        bin64
        from xtw_test_bin_detail xtb
        left join xtw_test_record xtr on xtb.test_record_id = xtr.id
        where
          1=1
        <if test="waferLot != null and waferLot != ''">
          and xtr.wafer_lot = #{waferLot}
        </if>
        <if test="icName != null and icName != ''">
          and xtr.ic_name = #{icName}
        </if>
        <if test="from != null and from != ''">
            <![CDATA[ AND xtr.file_date >= #{from} ]]>
        </if>
        <if test="to != null and to != ''">
            <![CDATA[ AND xtr.file_date <= #{to} ]]>
        </if>
        group by xtb.test_record_id
    </select>

</mapper>