<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.xtw.mapper.XtwTestDistribtionMapper">

    <resultMap id="distributionStatisticsModel" type="org.jeecg.modules.xtw.model.DistributionStatisticsModel" >
        <result column="wafer_lot" property="waferLot" jdbcType="VARCHAR"/>
        <result column="ic_name" property="icName" jdbcType="VARCHAR"/>
        <result column="test_item" property="testItem" jdbcType="VARCHAR"/>
        <result column="section_min" property="name" jdbcType="FLOAT"/>
        <result column="sample_amount" property="value" jdbcType="INTEGER"/>
    </resultMap>

    <select id="distributionStatistics" parameterType="String" resultMap="distributionStatisticsModel">
        select
            xtr.wafer_lot ,
            xtr.ic_name ,
            xtd.test_item,
            xtd.section_min,
            sum(xtd.sample_amount) as sample_amount
        from
            xtw_test_distribtion xtd
                left join xtw_test_record xtr on
                xtd.test_record_id = xtr.id
        where xtr.wafer_lot = #{waferLot}
            and xtr.ic_name = #{icName}
            and xtd.test_item = #{testItem}
        <if test="site != null and site != ''">
            and xtd.site = #{site}
        </if>
        <if test="site != null and site != ''">
            and xtd.site = #{site}
        </if>
        <if test="dateFrom != null and dateFrom != ''">
            and xtr.file_date >= #{dateFrom}
        </if>
        <if test="dateTo != null and dateTo != ''">
            <![CDATA[ and xtr.file_date <= #{dateTo} ]]>
        </if>
        group by xtr.wafer_lot, xtr.ic_name, xtd.test_item, xtd.section_min
        order by xtd.section_min asc
    </select>


</mapper>