<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.xtw.mapper.XtwTestMetadataMapper">

    <select id="findUplimitAndDownlimitByTestItem" parameterType="String" resultType="org.jeecg.modules.xtw.entity.XtwTestMetadata">
        SELECT * FROM xtw_test_metadata
        WHERE test_item = #{testItem}
            and wafer_lot = #{waferLot}
            and ic_name = #{icName}
    </select>

</mapper>